fuse/plan-journey-jax-rs/src/test/resources/journey.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="journey" type="journeyType"/>
  <xs:complexType name="destinationsType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="result"/>
      <xs:element name="stationName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="stationName1"/>
            <xs:enumeration value="stationName2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="platformId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="platformId1"/>
            <xs:enumeration value="platformId2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="destinationsType" name="destinations" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="journey"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="journey"/>
      <xs:element type="xs:string" name="metadataCall"/>
      <xs:element type="xs:string" name="metadataWhen"/>
      <xs:element type="xs:string" name="metadataVersion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="journeyType">
    <xs:sequence>
      <xs:element type="resultType" name="result"/>
      <xs:element type="metadataType" name="metadata"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>