fuse/plan-journey-jax-rs/src/test/resources/journey2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="journey" type="journeyType"/>
  <xs:complexType name="resultType" mixed="true">
    <xs:sequence>
      <xs:element type="destinationsType" name="destinations" minOccurs="0"/>
      <xs:element type="journeyType" name="journey" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="refId" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="destinationType">
    <xs:sequence>
      <xs:element type="resultType" name="result"/>
      <xs:element name="stationName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="stationName1"/>
            <xs:enumeration value="stationName2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="platformId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="platformId1"/>
            <xs:enumeration value="platformId2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="destinationsType">
    <xs:sequence>
      <xs:element type="destinationType" name="destination" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="journeyType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="name" minOccurs="0"/>
      <xs:element type="resultType" name="result" minOccurs="0"/>
      <xs:element type="metadataType" name="metadata" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="refId" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element type="journeyType" name="journey"/>
      <xs:element type="xs:string" name="metadataCall"/>
      <xs:element type="xs:string" name="metadataWhen"/>
      <xs:element type="xs:string" name="metadataVersion"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
</xs:schema>