fuse/plan-journey-jax-rs/src/test/resources/testIdIdref.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="e1" type="e1Type"/>
  <xs:complexType name="e2Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="e3Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ref"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="e4Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="refs"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="e1Type">
    <xs:sequence>
      <xs:element type="e2Type" name="e2" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="e3Type" name="e3"/>
      <xs:element type="e4Type" name="e4"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>